<div class="row onco-header">
	<div class="col-md-6">
		 <div class="navbar-brand ">
            <div class="pull-left">
                <a class="toggle-button toggle-sidebar btn-navbar text-primary"><!-- <i class="glyphicon glyphicon-align-justify	"></i></a> -->
            </div>
            <a href="" class="appbrand"><img src="	" width="24px"  height="24px">&nbsp;<b>ERI</b>&nbsp;Dashboard</a>
        </div>
	</div>

	<div class="col-md-6">
		<span>
			<form class="navbar-form navbar-right" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Search">
		        </div>
	        	<!-- <button type="submit" class="btn btn-default">Submit</button> -->
	      	</form>
      	</span>
      	<!-- <span >
      		<button style="margin-top:8px;" class="btn btn-primary" ng-click="show=!show"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add</button>
      	</span> -->
	</div>
	<!-- <div class="col-md-2" style="padding-top:8px;">
		<div class="pull-left" ng-controller="DropdownCtrl">

		    <div class="btn-group" dropdown>
		      <button type="button" class="btn btn-primary">Test User</button>
		      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
		        <span class="caret"></span>
		        <span class="sr-only">Split button!</span>
		      </button>
		      <ul class="dropdown-menu" role="menu">
		        <li><a href="#">Profile</a></li>
		        <li><a href="#">Past Records</a></li>
		        <li><a href="#">Something else here</a></li>
		        <li class="divider"></li>
		        <li><a href="#">Logout</a></li>
		      </ul>
		    </div>

   

		</div>
	</div> -->

</div>

