//less file

@black:#35373A;
@black2:#575757;
@white:#FFF;
@grey:#575757;

body {
	background-color:@black2;
}

.onco-header {
	background-color:@black;
}


#left-sidebar {
	width:250px;
	background-color:@grey;
	position:fixed;
	top:50px;
	height: 100vh;
	padding-left:5px;
	padding-right:5px;
	border-right-width:2px;
	border-right-color:#000;
	border-right-style:solid;
	z-index:99999;

	.panel-heading{
		background-color:@white!important;
	}
 
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


//helper class

.separator {
	margin-top:10px;
	margin-bottom:10px;
}
.white-color {
	color:@white;
}

#chart {
	overflow-x:scroll;
}

select {
	padding:6px;
	border-radius:5px;
}

.panel-heading{
	background-color:@black !important;
	color:@white !important;
}
#geneinfotext {
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg);
}

#expinfotext {
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg);
}
#expinfotextana {
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg);
}
.show-hide {
	opacity:0 !important;
}
