<div class="row">
    <div class="col-md-12">
      <div class="separator"></div>
      <div class="panel panel-default">
		      <div class="panel-heading"><b>Enter Patient Information</b></div>
    		  <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <textarea ng-model="singlePatient.textArea" ng-change="checktextArea()" style="width:100%;height:300px;"></textarea>
              </div>
              <div class="col-md-6">
                <b>OR</b> Select lab report : <input type="file" id="fileUpSingle"/>
              </div>
              <div class="col-md-12">
                <div class="separator"></div>
                <button class="btn btn-info btn-block" ng-click="singlePatientlabreport()">Upload</button>
              </div>
            </div>
    		  </div>
		</div>
    </div>
</div>

<div class="row" ng-show="dashboard">
    <div class="col-md-12">
        <div class="separator"></div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Patient Info</h3>
          </div>
          <div class="panel-body" ng-model="patientInfo.patient">
            <p><b>Age</b>: {{ patientInfo.patient.age }}</p>
            <p><b>Cancer Type</b>: {{ patientInfo.patient.cancerType }}</p>
            <p><b>Histological Subtype</b>: {{ patientInfo.patient.histologicalSubtype }}</p>
            <p><b>Tumor Stage</b>: {{ patientInfo.patient.tumorStage }}</p>
            <p><b>Tumor Grade</b>: {{ patientInfo.patient.tumorGrade }}</p>
          </div>
        </div>
    </div>
    <!-- <div class="col-md-12">
        <div class="separator"></div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Treatment Timeline</h3>
          </div>
          <div class="panel-body">
            <div id="target2" class="timeline-tgt"></div>
          </div>
        </div>
    </div> -->

    <div class="col-md-12">
        <div class="separator"></div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Filter Section</h3>
          </div>
          <div class="panel-body">

            Select a gene: <select id="gene-selector"></select> <button id="clear" class="btn btn-info">Clear</button>
            <p><b>Result</b>: <span id="gene-selector-result"></span></p>
            <br>
            Select a chromosome: <select id="chromosome-selector"></select> <button id="clear-chromosome" class="btn btn-info">Clear</button>
            <p><b>Muted Genes</b>: <span id="chromosome-selector-result"></span></p>
          </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="separator"></div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Biopsy Section</h3>
          </div>
          <div class="panel-body">
          Show Acording to:
          <div class="btn-group">
              <button type="button" class="btn btn-default" id="chromosome-no">Chromosome No.</button>
              <button type="button" class="btn btn-default" id="gene-symbol">Gene Symbol</button>
              <button type="button" class="btn btn-default" id="strand">Strand</button>
              <button type="button" class="btn btn-default" id="reset">Reset All</button>
          </div>
          <br><br>
            <div id="chart"></div>
          </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="separator"></div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Analytic Result</h3>
          </div>
          <div class="panel-body" id="analytic-result">
              <b>Result:</b>
          </div>
        </div>
    </div>
</div>
