<div class="row" style="
    margin-left: 0px;
    margin-right: 0px;
">
	<div class="col-md-12 text-center">
		<br/>
		<h4 style="line-height:24px;">A Project <br>on <br><b>Genetic Analysis</b></h4>
		<p>Submitted in partial fulfillment of the requirement for the award of Degree of
			<br>
<b>Bachelor of Technology in Computer Engineering</b>
<br>
Submitted to:</p>
	<img src="images/rtu.jpg" width="100"/>
	<p style="margin-top:30px;">
		Sumitted By:
		<h5>Akanksha Bhojak (12EARCS014)</h5>
		<h5>Ayush Sharma (12EARCS036)</h5>
	</p>
	</div>
	<div class="col-md-12">
		<p class="text-center" style="margin-top:60px;">
			<a class="btn btn-primary btn-sm" href="#/singlepatient" role="button">Single Patient - Data Mining</a>
			<a class="btn btn-primary btn-sm" href="#/multiplepatient" role="button">Multiple Patinet Analysis</a>
			<a class="btn btn-primary btn-sm" href="#insdel" role="button">Insertion Deletion</a>
		</p>
	</div>
	<div class="row">
	<div class="col-md-6 text-center" style="margin-top:60px;">
		<h5>Guide:</h5>
		<h6><b>Er. Aarti Sharma</b></h6>
		<h6>Assistant Professor</h6>
	</div>
	<div class="col-md-6 text-center" style="margin-top:60px;">
		<h5>Project Coordinator:</h5>
		<h6><b>Er. Vishal Shrivastava</b></h6>
		<h6>Associate Professor</h6>
	</div>
</div>
</div>
