<div class="row" style="margin-top:50px;">
	<div class="col-md-12">
		<div class="jumbotron">
			<h1>Hello, World!</h1>
			<p>This is the prototype page for the project <b>"Exceptional Responder Analysis Tool"</b> under the ONCO Blocks.</p>
			<p>
			<a class="btn btn-primary btn-lg" href="#/singlepatient" role="button">Single Patient - Data Mining</a>
			<a class="btn btn-primary btn-lg" href="#/multiplepatient" role="button">Multiple Patinet Analysis</a>
			<a class="btn btn-primary btn-lg" href="#insdel" role="button">Insertion Deletion</a>
			</p>
			<p>Find Out More about the ongoing progress here..</p>
			<p>
			<a class="btn btn-danger btn-lg" href="https://docs.google.com/document/d/1Q2OS_GPQ4yU4iwaPYy-b211NOhxGLPsoKXSOEFY4kac/edit?usp=sharing" target="_blank" role="button">My Proposal</a>
			<a class="btn btn-danger btn-lg" href="#/video" role="button">Introductory Video</a>
			<a class="btn btn-danger btn-lg" href="http://ayusharma.in" target="_blank" role="button">About Me</a>
			</p>
		</div>
	</div>
</div>