<div class="row">
	<div class="col-md-12">
		<div class="separator"></div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">User Interaction</h3>
          </div>
          <div class="panel-body">
          <div class="row">
          		<div class="col-md-12">
		          	<b>Analysis Factor:</b>
		            <div class="btn-group" role="group" aria-label="...">
					  <button type="button" id="hetero" class="btn btn-default">Heterogeneous</button>
					  <button type="button" id="homo" class="btn btn-default">Homogeneous</button>
					  <button type="button" id="del" class="btn btn-default">Deletion</button>
					</div>
				</div>
				<br><br>
				<div class="col-md-12" id="chart-panel">
					<b>Chart Style:</b>
					<div class="btn-group" role="group" aria-label="...">
					  <button type="button" id="pie" class="btn btn-default" >Pie Chart</button>
					  <button type="button" id="bar" class="btn btn-default">Bar Chart</button>
					</div>
				</div>
			</div>
          </div>
        </div>
	</div>
</div>
<div class="row">
	<div class="col-md-12" id="result">
	</div>
</div>
